<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>A Simple Responsive HTML Email</title>
    </head>
    <style type="text/css">
      p {margin:0;padding:0;margin-bottom:0;}
    </style>
    <body style="margin: 0; padding: 0; min-width: 100%!important;font-family:Arial;">
        <table width="100%" style="background: #f1f2f4;width:100%;" bgcolor="#f1f2f4" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table class="content" style="width: 100%; max-width: 650px;" align="center" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td align="center" style="padding:30px 30px;" style="background:transparent;" bgcolor="transparent">
                                <img src="http://wework.co.in/emailer/building-emailers/assets/logo.png">
                            </td>
                        </tr>
                    </table>
                    <table class="content" style="width: 100%; max-width: 650px;" align="center" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td  style="padding:40px 30px;font-size:12px;line-height:19px;background-color:#ffffff;" bgcolor="#ffffff">              
                            Hi (name),<br/><br/>
                            Thank you for your interest in WeWork!<br/></br/>
                            WeWork is a global network of workspaces where companies and people grow together. Whether you need a desk, office suite, or entire HQ, we create environments that increase productivity, innovation, collaboration - helping your business thrive.<br/><br/>
                            We'd be thrilled to take you on a tour of our space so you can get a taste of the WeWork experience. If you have an office requirement now, we have the solution for you. If not, come anyway and get a glimpse of what the future of work looks like.<br/><br/>
                            We look forward to having you!<br/><br/>
                            <b>Feel free to get in touch with me to confirm the date and time of your tour.<br/>
                            Ezaz Ansari.<br/> 
                            <a href="tel:1800123365365" style="text-decoration:none;color:#000000;">1800 123 365 365</a></b>
                            </td>
                        </tr>
                    </table><br/>
                    <table class="content" style="width: 100%; max-width: 650px;" align="center" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                          <td bgcolor="#000000" style="padding: 15px 10px 15px 20px;background-color:#000000">
                           <table border="0" cellpadding="0" cellspacing="0" style="width:100%;" width="100%">
                             <tr>
                              <td width="65%" style="width:65%;color:#ffffff;font-weight:700;letter-spacing:1px;line-height:24px;">WORKSPACE,COMMUNITY,AND SERVICES<br/>FOR A GLOBAL NETWORK OF CREATORS</b>
                              </td>
                              <td width="35%" style="width:35%;">
                               <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                 <td style="color:#ffce57;line-height:22px;">
                                    <ul style="-webkit-padding-start: 20px;">
                                      <li style="font-size:14px;letter-spacing:1px;font-weight:700;">200 LOCATIONS</li>
                                      <li style="font-size:14px;letter-spacing:1px;font-weight:700;">64 CITIES</li>
                                      <li style="font-size:14px;letter-spacing:1px;font-weight:700;">175,000+ MEMBERS</li>
                                    </ul>
                                 </td>
                                </tr>
                               </table>
                              </td>
                             </tr>
                            </table>
                          </td>
                        </tr>
                    </table><br/>
                    <table  style="width: 100%; max-width: 650px;"  class="content" align="center" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                          <td bgcolor="#ffffff" style="padding: 20px 15px 20px 15px;background-color:#ffffff;">
                           <table border="0" cellpadding="0" cellspacing="0" style="width:100%;" width="100%">
                             <tr>
                              <td width="40%" style="color:#000000;width:40%;" valign="top">
                                  <img style="margin-top:0;width:100%;display:inline;" src="http://wework.co.in/emailer/building-emailers/assets/img3.jpg">
                              </td>
                              <td width="60%" style="padding-left:10px;color:#000000;font-size:12px;width:60%;height:300px;" valign="top" align=""><img src="http://wework.co.in/emailer/building-emailers/assets/img2.png">
                                  <p style="font-size:11px;letter-spacing:1px;margin:0;padding:0;margin-bottom:0;margin-top:10px;"><b>C-20, G BLOCK, BANDRA-KURLA COMPLEX
MUMBAI MH 400051</b></p>
                                  <p style="margin:0;line-height:19px;margin-top:10px;font-size:15px;text-align:justify;">With a hard-to-beat location in the Bandra Kurla Complex—Mumbai's sophisticated new business district—this workspace couldn’t be better situated for busy working professionals. From the city's most important corporate headquarters and the National Stock Exchange, to trendy restaurants, and marquee live venues—BKC is where businesses of all kinds converge to create a vibrant, thriving work culture.</p>
                                  <br/>
                              </td>
                             </tr>
                            </table>
                           <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-top: 20px;width:100%;">
                             <tr>
                              <td width="100%" style="width:100%;" >
                                <img alt="img" style="width:100%;" src="http://wework.co.in/emailer/building-emailers/assets/img4.png">
                              </td>
                             </tr>
                            </table>
                          </td>
                        </tr>
                    </table><br/>
                    <table  style="width: 100%; max-width: 650px;"  class="content" align="center" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td align="center" style="padding:40px 30px;background-color:#252729;" bgcolor="#252729">
                           <table border="0" cellpadding="0" cellspacing="0" style="width:100%;" width="100%">
                             <tr>
                              <td width="100%" style="width:100%;" align="center">
                                <img src="http://wework.co.in/emailer/building-emailers/assets/Workspace-amn.png">
                              </td>
                             </tr>
                             <tr>
                              <td width="100%" style="color:#ffffff;padding:15px;font-size:12px;line-height: 16px;width:100%;" align="center">
                                You focus on your business, we take care of the rest. From front-desk service to fresh fruit water, utility & security to employee events, amenities are all-inclusive and meaningful.
                              </td>
                             </tr>
                            </table><br/>
                           <table border="0" cellpadding="0" cellspacing="0" style="width:100%;" width="100%">
                             <tr>
                              <td width="33.3%" style="color:#ffffff;padding:10px;width:33.3%;" align="center">
                               <table border="0" cellpadding="0" cellspacing="0" style="width:100%;" width="100%">
                                  <tr>
                                    <td align="center">
                                      <img src="http://wework.co.in/emailer/building-emailers/assets/asset5.png">
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-size:12px;padding-top:22px;color:#ffffff;" align="center">
                                      Super-fast internet & Printing
                                    </td>
                                  </tr>
                                </table>
                              </td>
                              <td width="33.3%" style="color:#ffffff;padding:10px;width:33.3%;" align="center">
                               <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                  <tr>
                                    <td align="center">
                                      <img src="http://wework.co.in/emailer/building-emailers/assets/asset6.png">
                                    </td>
                                  </tr>
                                  <tr> 
                                    <td style="font-size:12px;padding-top:22px;color:#ffffff;"  align="center">
                                      Front desk service
                                    </td>
                                  </tr>
                                </table>
                              </td>
                              <td width="33.3%" style="color:#ffffff;padding:10px;width:33.3%;" align="center">
                               <table style="width:100%;" border="0" cellpadding="0" cellspacing="0" width="100%">
                                  <tr>
                                    <td align="center">
                                      <img src="http://wework.co.in/emailer/building-emailers/assets/asset7.png">
                                    </td>
                                  </tr>
                                  <tr> 
                                    <td style="font-size:12px;padding-top:22px;color:#ffffff;"  align="center">
                                      Professional & social events
                                    </td>
                                  </tr>
                                </table>
                              </td>
                             </tr>
                            </table><br/><br/>
                           <table border="0" cellpadding="0" cellspacing="0" style="width:100%;" width="100%">
                             <tr>
                              <td width="33.3%" style="color:#ffffff;padding:10px;width:33.3%;" align="center">
                               <table border="0" cellpadding="0" cellspacing="0" style="width:100%;" width="100%">
                                  <tr>
                                    <td align="center">
                                      <img src="http://wework.co.in/emailer/building-emailers/assets/asset8.png">
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-size:12px;padding-top:22px;color:#ffffff;" align="center">
                                      24/7 building access
                                    </td>
                                  </tr>
                                </table>
                              </td>
                              <td width="33.3%" style="color:#ffffff;padding:10px;width:33.3%;" align="center">
                               <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                  <tr>
                                    <td align="center">
                                      <img src="http://wework.co.in/emailer/building-emailers/assets/asset9.png">
                                    </td>
                                  </tr>
                                  <tr> 
                                    <td style="font-size:12px;padding-top:22px;color:#ffffff;"  align="center">
                                      Meeting Rooms
                                    </td>
                                  </tr>
                                </table>
                              </td>
                              <td width="33.3%" style="color:#ffffff;padding:10px;width:33.3%;" align="center">
                               <table border="0" cellpadding="0" cellspacing="0" style="width:100%;" width="100%">
                                  <tr>
                                    <td align="center">
                                      <img src="http://wework.co.in/emailer/building-emailers/assets/asset10.png">
                                    </td>
                                  </tr>
                                  <tr> 
                                    <td style="font-size:12px;padding-top:22px;color:#ffffff;"  align="center">
                                      Mail & package handling
                                    </td>
                                  </tr>
                                </table>
                              </td>
                             </tr>
                            </table>
                            </td>
                        </tr>
                    </table><br/>
                    <table  style="width: 100%; max-width: 650px;"  class="content" align="center" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td align="center" style="padding:40px 20px;background-color:#ffffff;width:100%;" bgcolor="#ffffff" width="100%">
                           <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                             <tr>
                              <td  width="100%" style="width:100%;" align="center">
                                <img src="http://wework.co.in/emailer/building-emailers/assets/asset3.png">
                              </td>
                             </tr>
                             <tr>
                              <td width="100%" style="color:#000000;padding:10px;font-size:12px;width:100%;" align="center">
                                Month-to-month agreements keep things flexible
                              </td>
                             </tr>
                            </table><br/>
                           <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                             <tr>
                              <td width="60%" style="color: #000000;font-size: 13px;padding-bottom: 12px;width:60%;border-bottom: 2px solid #252729;font-weight: bold;letter-spacing: 1px;" align="">
                                WHAT WE OFFER
                              </td>
                              <td width="40%" style="color:#000000;width:40%;" align="">
                                <!-- WHAT WE OFFER -->
                              </td>
                             </tr>
                             <tr>
<!--                               <td width="60%" style="color:#000000;font-size:12px;width:60%;" align="">
                                 <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                                    <tr style="line-height:15px;">
                                      <p style="font-size:13px;letter-spacing:1px;-webkit-margin-after:0;"><b>Hot Desk</b></p>
                                      <p style="-webkit-margin-before:0;line-height:19px;">Guaranteed workspace in a common area at one location.<br/>
                                      Just bring your laptop, pick an open seat, and get to work.</p>
                                    </tr><br/>
                                    <tr>
                                      <p style="font-size:13px;letter-spacing:1px;-webkit-margin-after:0;"><b>Dedicated Desk</b></p>                               
                                      <p style="-webkit-margin-before:0;line-height:19px;">A desk of your own in a shared space at one location.<br/>
                                      You’ll set up shop in the same spot each day in your building.</p>
                                    </tr><br/>
                                    <tr>
                                      <p style="font-size:13px;letter-spacing:1px;-webkit-margin-after:0;"><b>Private Office</b></p>                             
                                      <p style="-webkit-margin-before:0;line-height:19px;">Enclosed, lockable offices can accomodate teams of any size.<br/>
                                      Move-in ready, with desks, chairs, and filing cabinets.</p>
                                    </tr>
                                  </table>
                              </td> -->
                              <td width="60%" style="color:#000000;font-size:12px;width:60%;" align="">
                                  <p style="font-size:13px;letter-spacing:1px;margin:0;padding:0;margin-bottom:0;margin-top:10px;"><b>Hot Desk</b></p>
                                  <p style="margin:0;line-height:19px;margin-bottom:10px;">Guaranteed workspace in a common area at one location.
                                  Just bring your laptop, pick an open seat, and get to work.</p>
                                  <br/>
                                  <p style="font-size:13px;letter-spacing:1px;margin:0;padding:0;margin-bottom:0;"><b>Dedicated Desk</b></p>                               
                                  <p style="margin:0;line-height:19px;margin-bottom:10px;">A desk of your own in a shared space at one location.
                                  You’ll set up shop in the same spot each day in your building.</p>
                                  <br/>
                                  <p style="font-size:13px;letter-spacing:1px;margin:0;padding:0;margin-bottom:0;"><b>Private Office</b></p>                             
                                  <p style="margin:0;line-height:19px;margin-bottom:10px;">Enclosed, lockable offices can accomodate teams of any size.
                                  Move-in ready, with desks, chairs, and filing cabinets.</p>
                              </td>
                              <td width="40%" style="padding-left:10px;color:#000000;width:40%;" valign="top">
                                  <img style="margin-top:0;width:100%;" width="100%" src="http://wework.co.in/emailer/building-emailers/assets/Asset-12.jpg">
                              </td>
                             </tr>
                            </table><br/>
                            </td>
                        </tr>
<!--                         <tr style="height:100%;background-image: url('http://wework.co.in/emailer/building-emailers/assets/Asset-13.jpg')">
                          <td height="70"></td>
                        </tr> -->
                        <table width="100%" background="http://wework.co.in/emailer/building-emailers/assets/Asset-13.jpg" style="height:100%;background-image: url('http://wework.co.in/emailer/building-emailers/assets/Asset-13.jpg');background-position: 50% 100%;background-size: cover;width: 100%; max-width: 650px;" class="content" align="center" cellpadding="0" cellspacing="0" border="0">
                          <tr>
                            <td height="70" style="height:70px;"></td>
                          </tr>
                          <tr>
                            <td width="10%" style="width:10%;"></td>
                            <td width="70%" style="width:70%;">
                              <table style="border:5px solid #e4e4e4;" align="center" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                  <td style="color: #ffffff;letter-spacing: 1px;padding-right: 95px;padding-left: 95px;padding-top: 30px;padding-bottom: 30px;text-align: center;"><p style="font-size: 28px;font-weight:700;-webkit-margin-after: 0.2rem;">Ready to upgrade<br/>your workspace?</p><p style="font-size:12px;">Call Vibha on <a href="tel:1800123365365" style="color:#ffffff;text-decoration:none;"><b>1800 123 365 365</b></a> to learn more.</p></td>
                                </tr>
                              </table>
                            </td>
                            <td width="10%" style="width:10%;"></td>
                          </tr>
                          <tr>
                            <td height="70" style="height:70px;"></td>
                          </tr>
                    </table>
                    <table  style="width: 100%; max-width: 650px;"  class="content" align="center" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                          <td bgcolor="#252729" style="padding: 30px 30px 30px 30px;background-color:#252729;">
                           <table  border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%;">
                              <tr>
                                <td align="center" style="padding-bottom: 20px;">
                                  <img src="http://wework.co.in/emailer/building-emailers/assets/flogo.png">
                                </td>
                              </tr>
                              <tr>
                                <td align="center" style="padding-bottom: 20px;">
                                  <a href="https://www.facebook.com/WeWork/" style="text-decoration:none;">
                                  <img style="padding-left:5px;padding-right:5px;" src="http://wework.co.in/emailer/building-emailers/assets/facebook.png"></a>
                                  <a href="https://www.instagram.com/wework/" style="text-decoration:none;">
                                  <img style="padding-left:5px;padding-right:5px;" src="http://wework.co.in/emailer/building-emailers/assets/insta.png"></a>
                                  <a href="https://twitter.com/weworkindia/" style="text-decoration:none;">
                                  <img style="padding-left:5px;padding-right:5px;" src="http://wework.co.in/emailer/building-emailers/assets/twitter.png"></a>
                                  <a href="https://in.linkedin.com/company/wework-india" style="text-decoration: none;">
                                  <img style="padding-left:5px;padding-right:5px;" src="http://wework.co.in/emailer/building-emailers/assets/linkedin.png"></a>
                                </td>
                              </tr>
                              <tr>
                                <td align="center" style="color:#ffffff;font-size:12px;">
                                  <a style="color:#ffffff;text-decoration:none;" href="#">If you wish to stop receiving these emails, click here to unsubscribe.</a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>